.post-wrapper {
    display: flex;
    flex-direction: column;
    /* width: 95%; */
    min-width: 300px;
    max-width: 900px;
    margin: auto;
    /* margin-top: 100px; */
    /* padding: 15px; */
    padding-top: 60px;
    background-color: #ffffff;
    /* border: solid 1px #c2b1b1;
    border-radius: 10px; */
}

.post-img {
    max-height: 500px;
    object-fit: contain;
    /* border-top: 1.5px solid #b3b0b0;
    border-bottom: 1.5px solid #b3b0b0; */
    background-color: black;
}

.post-title {
    margin: 8px 16px;
    font-size: 20px;
    font-weight: bold;
}

.post-action {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    min-height: 80px;
    /* margin-top: 15px;
    padding-bottom: 15px; */
    margin: 0 16px;
}

.post-header-avatar {
    display: flex;
}

.post-header-text {
    margin-left: 10px;
    display: flex;
    flex-direction: column;
}

.post-header-text-pseudo {
    font-weight: 500;
}

.post-action-allUsers {
    display: flex;
    align-items: center;
    justify-content: space-between; 
    width: 100%;   
    /* min-width: 200px; */
    /* height: 40px; */
    /* border: 1px solid #b3b0b0; */
    /* border-radius: 20px;
    margin-top: 8px;
    margin-bottom: 8px; */
    /* padding-left: 20px;
    padding-right: 20px; */
}

.post-button-return-posts{
    /* margin-bottom: 30px;  */
    display: flex;
    align-items: center;
    justify-content: center;
    /* width: 176px; */
    /* padding-left: 14px; */
    background-color: white;
    /* box-shadow: 0 5px 15px rgba(0, 0, 0, 0.544); */
    /* border-radius: 10px; */
    border: none;
    font-weight: 500;
    text-decoration: none;
    color: black;
    transition: all 0.25s ease-in-out;
    height: 40px;
    border-radius: 20px;
    margin-top: 8px;
    margin-bottom: 8px;
    background-color: whitesmoke;

    padding-left: 10px;
    padding-right: 10px;
}

.post-buttons-like {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 40px;
    border-radius: 20px;
    margin-top: 8px;
    margin-bottom: 8px;
    background-color: whitesmoke;

}

.button-like {
    height: 50px;
    border: none;
    background-color: transparent;
    margin-left: 20px;
    margin-right: 20px;
    /* display: flex;
    justify-content: flex-start;
    align-items: center; */
}

.button-active-like-to-fly-over {
    position: absolute;
    color: #0d6efd;
    opacity: 0;
    transition: all 0.25s ease-in-out !important;
}

.button-active-like-to-fly-over:hover {
    /* color: #65a8ff; */
    opacity: 1
}

.button-active-like {
    color: #0d6efd;
}

.post-action-allUsers-hr {
    width: 2px;
    height: 85%;
    /* border: 1px solid #b3b0b0; */
    background-color: #b3b0b0;
}

.button-active-dislike-to-fly-over {
    position: absolute;
    color: #656969;
    opacity: 0;
    transition: all 0.25s ease-in-out !important;
}

.button-active-dislike-to-fly-over:hover {
    /* color: #65a8ff; */
    opacity: 1
}

.button-active-dislike {
    color: #656969;
}

.post-action-owner {
    display: flex;
    justify-content: flex-start;
    min-width: 100px;
    margin: 16px;
}

.buttonDelette {
    border: none;
    background-color: transparent;
    color: #343a40;
}

.post-article {
    font-size: 16px;
    margin: 0 16px;
    padding: 12px;
    background-color: whitesmoke;
    /* border: solid 1px #c2b1b1; */
    border-radius: 16px;
}

.post-article-paragraphe {
    overflow: hidden;
    margin-bottom: 0;
}

.post-article-paragraphe-button-see {
    border: none;
    font-weight: bold;
}

@media screen and (min-width: 768px) {
    .post-action-allUsers {
        width: 48%;
    }
}

/* ---------------------------------------------- */

/* .comment-anchor {
    text-decoration: none;
    color: black;
} */

/* .commentIcon {
    color: #343a40;;
} */

/* .button-inactive-like {
    position: relative;
} */

/* .deleteIcon {
    margin-right: 3px;
} */

/* .post-desc {
    border-top: 1.5px solid #b3b0b0;
    border-bottom: 1.5px solid #b3b0b0;
} */

 /* .post-horizontale-hr { */
    /* width: 2px; */
    /* margin: 16px; */
    /* height: 1px; */
    /* border: 1px solid #b3b0b0; */
    /* background-color: #b3b0b0; */
 /* }  */