.home-title {
    font-size: 35px;
    margin-top: 100px;
    margin-bottom: 0;
    padding-bottom: 50px;
    text-align: center;
    /* background-color: #ffd7d7; */
}

.container-cards {
    display: flex;
    flex-direction: column-reverse;
    /* align-items: stretch;     */
    max-width: 1200px;
    margin: 0 auto 0;
}
