.postCard {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.544);
    /* max-width: 1000px;  */
    min-width: 300px;
    /* min-height: 300px; */
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 15px;
    margin-left: 15px;
    cursor: pointer;
    background-color: white;
    border-radius: 10px;
    gap: 1rem;
    transition: transform .2s;
}

.postCard:hover{
    transform: scale(1.02);
}

.postCard-header {
    display: flex;
    flex-direction: row;
    padding-left: 30px;
    padding-top: 30px;
    padding-right: 30px;
    padding-bottom: 15px;
    justify-content: space-between;
}

.postCard-header-avatar {
    display: flex;
}

.postCard-header-text {
    margin-left: 10px;
    display: flex;
    flex-direction: column;
}

.postCard-header-text-pseudo {
    font-weight: 500;
}

.postCard-header-text-timeAgo {
    font-weight: 400;
    color: grey;
}

.postCard-header-infos {
    /* margin-left: 50px; */
    display: flex;
    flex-direction: column;
}

.postCard-img-wrapper {
    display: flex;
    position: relative;
    background-color: black;
}

.postCard-img {    
    width: 100%;
    max-height: 300px;
    object-fit: cover;
}

.postCard-desc {
    max-height: 150px;
    overflow-y: hidden;
    margin: 15px
}

@media screen and (min-width: 768px) {
    .postCard {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.544);
        height: 300px;
        margin-bottom: 35px;
    }

    .postCard-header {
        display: flex;
        flex-direction: column;
        padding: 20px;
        /* width: 20%; */
        width: 115px;
        /* height: 200px; */
    }

    .postCard-header-infos {
        /* margin-left: 50px; */
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        color: #343a40;
    }
 
    .postCard-header-avatar {
        display: flex;
        flex-direction: column;
    }

    .postCard-header-text {
        margin-left: 0;
        font-size: smaller;
        margin-top: 40px;
    }

    .postCard-img-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40%;
        /* width: 500px; */
    }

    .postCard-img {    
        height: 100%;
        object-fit: cover;
    }

    .postCard-desc {
        max-height: none;
        width: 40%;
        overflow-y: hidden;
        /* padding-top: 15px;
        padding-bottom: 30px; */
    }

}