.postshare-wrapper {
    z-index: 2;
    position: fixed;
    top: 0;
    background-color: white;
    width: 100%;
    height: 100%;
}

.postShare-title-form {
    text-align: center;
    font-size: 32px;
    /* margin: 70px 0 0; */
}

.postShare-container-form {
    display: flex;
    flex-direction: column;
    padding: 10px;
    max-width: 700px;
    margin: 30px auto 0;
}

.postShare-textfield-title {
    margin-bottom: 20px !important;
}

.postShare-textfield-desc {
    margin-bottom: 20px !important;
}

.postShare-label-choseFile {
    margin-bottom: 20px !important;
    cursor: pointer;
    width:fit-content
}

.postShare-label-choseFile-text {
    font-weight:500;
    margin-left: 10px;
}

.postShare-button-wrapper {
    display: flex;
}

.postShare-button-send {
    width: 40%;
    height: 35px;
    margin: auto;
    background-color: #2b86fd;
    border: none;
    border-radius: 18px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: 500;
    /* font-family: Arial, Helvetica, sans-serif; */
    transition: all 0.25s ease-in-out;
}

.postShare-button-send:hover {
    background-color: #65a8ff;
}

.postShare-button-cancel {
    width: 40%;
    height: 35px;
    margin: auto;
    background-color: #b9d0d3;
    border: none;
    border-radius: 18px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: 500;
    text-decoration: none;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.25s ease-in-out;
}

.postShare-button-cancel:hover {
    background-color: #dbe4e7;
}

.postShareBox {
    background-color:aliceblue !important;
    width: 80% !important;
    max-width: 800px !important;
}

.postShare-wrapper-preview-Img {
    padding: 0 20px 10px 20px;
    position: relative;
}

.postShare-preview-Img {
    width: 100%;
    max-height: 300px;
    object-fit: contain;
}

.postShare-preview-Img-cancel-icone {
    position: absolute;
    top: 0;
    right: 20px;
    cursor: pointer;
    opacity: 0.7;
}