.post-wrapper {
    display: flex;
    flex-direction: column;
    width: 85%;
    min-width: 300px;
    max-width: 900px;
    margin: auto;
    margin-top: 100px;
}

.post-img {
    max-height: 500px;
    object-fit: contain;
}

.post-title {
    margin-top: 15px;
    margin-bottom: 20px;
}

.post-article {
    font-size: 16px;
}

.post-action {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 65px;
    border-top: 1.5px solid #b3b0b0;
    border-bottom: 1.5px solid #b3b0b0;
}

.post-action-allUsers {
    display: flex;
    min-width: 100px;
    justify-content: space-between;
}

.button-active-like {
    color: #65a8ff
}

.button-active-dislike {
    color: #b9d0d3;
}

.post-action-owner {
    display: flex;
    justify-content: flex-end;
    width: 10%;
}

.buttonDelette {
    border: none;
    background-color: transparent;
}

.deleteIcon {
    margin-right: 3px;
}