.article-content {
    display: flex;
    flex-direction: column;
    max-width: 80%;
    min-width: 300px;
    margin: auto;
}

.article-content > img {
    max-height: 500px;
    object-fit: cover;
}

.article-content h2 {
    font-size: 45px;
    margin-bottom: 20px;
}

.article-content p {
    font-size: 25px;
}

.postReact {
    display: flex;
    align-items: flex-start;
    gap: 1.5rem;
}

.active-like {
    padding: 20px;
    border: none;
    border-radius: 1rem;
    font-size: 20px;
    background:  #FD2D01;
    border: 2px solid  #FD2D01;
}

/* .commentContainer {
    display: flex;
}  */

/* .commentFom {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;    
}  */