.groupomania-navbar {
    position: fixed;
    z-index: 1;
    top: 0;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #ffffff;
    border-bottom: solid 1px #c2b1b1;
}

.groupomania-navbar-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.groupomania-navbar-logo {
    object-fit: cover;
    width: 200px;
    height: 50px;
}

.groupomania-navbar-toggle-button {
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: solid 1px #c2b1b1;
    border-radius: 25px;
    padding: 2px;
    width: 80px;
    transition: all 0.25s ease-in-out;
}

.groupomania-navbar-toggle-button:hover {
    background-color: rgba(116, 81, 235, 0.16);
}


.groupomania-navbar-toggle-menu {
    top: 57px;
    right: 15px;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 10px;
    padding-right: 10px;   
    background-color: #ffffff;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.544);
}

.groupomania-navbar-button-menu {
    background-color: transparent;
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
}

.groupomania-navbar-button-menu-text {
    margin-left: 10px;
}

.groupomania-navbar-link-hr {
    width: 100%;
    background-color: #b3b0b0;
    margin: 0;
}

.warning {
    transition: all 0.25s ease-in-out;
}

.warning:hover {
    background: #fd1c1c;
    margin-left: 25px;
}

.overview {
    transition: all 0.25s ease-in-out;
}

.overview:hover {
    margin-left: 25px;
}

.link {
    text-decoration: none;
    color: black;
}