.signup-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: white;
}

.signup-form-container {
    display: flex;
    flex-direction: column;
    max-width: 900px;
    margin: auto;
    margin-top: 0;
}

.signup-form-logo {
    display: flex;
    align-self: center;
    object-fit: cover;
    width: 150px;
    height: 50px;
}

.signup-form-title {
    display: flex;
    justify-content: center;
    margin-top: 8px;
    margin-bottom: 16px;
}

.signup-Link-to-login {
    text-decoration: none;
}

.signup-form {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap-reverse;
}

.signup-form-content {
    width: 30%;
    min-width: 300px;
}

.signup-wrapper-preview-Img {
    padding: 0 20px 10px 20px;
    position: relative;
    display: flex;
    justify-content: center;
}

.signup-preview-Img {
    width: 145px;
    height: 145px;
    border-radius: 50%;
    object-fit: cover;
}

.signup-preview-Img-cancel-icone {
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    opacity: 0.7;
}

.signup-label-choseFile {
    display: flex;
    justify-content: center;
    cursor: pointer;
}

.signup-label-choseFile-text {
    font-weight:500;
    margin-left: 10px;
}

.signup-buttons-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    height: 45px;
}

.signup-button-cancel {
    border: none;
    background-color: #FFD7D7;
    color: black;
    font-weight: bold;
    border-radius: 8px;
    width: 48%;
    font-family: 'Lato';
    transition: all 0.25s ease-in-out;
}

.signup-button-cancel:hover {
    background-color: #FD2D01;
}

.signup-button-register {
    border: none;
    background-color: #2b86fd;
    color: white;
    font-weight: bold;
    border-radius: 8px;
    width: 48%;
    font-family: 'Lato';
    transition: all 0.25s ease-in-out;
}

.signup-button-register:hover {
    background-color: #65a8ff;
}

.signup-form-profilImg-wrapper {
    margin-top: 10px;
    margin-bottom: 10px;
}

@media screen and (min-width: 768px) {
    .signup-form-container {
        margin-top: 50px;
    }
}