.groupomania-home-button-addPost-wrapper {
    display: flex;
    justify-content: center;
    max-width: 1200px;
    margin: auto;
    margin-top: 20px;
}

.groupomania-home-button-addPost {
    margin-bottom: 10px;
    margin-right: 15px;
    margin-left: 15px;
    width: 100%;
    height: 50px;   
    background-color: white;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.544);
    border-radius: 10px;
    border: none;
    font-weight: bold;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.25s ease-in-out;
}

.groupomania-home-button-addPost:hover {
    transform: scale(1.02);
}

.home-top-button {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    right: 5px;
    bottom: 5px;
    z-index: 2;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 2px solid black;
    opacity: 1;
    text-decoration: none;
}
.home-top-button-icone{
    color: black;
}
.home-top-button:hover{
    background-color: black;
    color: #ccc;
}

.home-top-button-icone:hover{
    color: #ccc;
}

.groupomania-home-cards-container {
    padding-top: 60px;
}

@media screen and (min-width: 768px) {
    .groupomania-home-button-addPost{
        margin-bottom: 35px;
    }

    .groupomania-home-button-addPost-wrapper{
        margin-top: 45px;
    }

}


.container-cards {
    display: flex;
    flex-direction: column-reverse;
    max-width: 1200px;
    margin: 0 auto 0;
}