.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  padding: 20px;
  border: none;
  border-radius: 1rem;
  font-size: 20px;
  overflow: hidden;
  background:  #FFD7D7;
  transition: all 100ms ease-out;
}

.button:hover {
  cursor: pointer;
  background:  #FD2D01;
  border: 2px solid  #FD2D01;
}


