.card {
    /* max-width: 300px; */
    min-width: 300px;
    padding: 10px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 50px;
    margin-left: 50px;
    cursor: pointer;
    min-height: 400px;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.card h2 {
    font-size: 25px;
    margin-bottom: 10px;
}
.card p {
    font-size: 18px;
}
.card img {
    width: 100%;
}