.commentContainer {
    display: flex;
    flex-direction: column;
    margin: 16px;
} 

.commentFom {
    display: flex;
    flex-direction: column;
    justify-content: space-around;    
}

.commentHeader{
    font-weight: 400;
    padding-top: 5px;
    padding-bottom: 10px;
}

.commentHeaderAvatarPseudo{
    display: flex;    
}

.commentHeaderPseudo{
    margin-left: 10px;
    font-weight: bold;   
}

.commentFomButton {
    width: 50%;
    height: 35px;
    margin: auto;
    background-color: #2b86fd;
    border: none;
    border-radius: 18px;
    margin-top: 10px;
    font-weight: 500;
    transition: all 0.25s ease-in-out;
}

.commentFomButton:hover {
    background-color: #65a8ff;
}

.comment-form-notconnect {
    border-bottom: 1.5px solid #b3b0b0;
    border-top: 1.5px solid #b3b0b0;
    font-style: italic;
    text-decoration: none;
    color: black;
}

.listComment {
    display: flex;
    flex-direction: column-reverse;
}

.commentFieldIcones {
    display: flex;
    flex-direction: column;
}

/* ------------------------------------------- */
